{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

    <!-- List group buttons on left side inserted thru includes directory -->
    <div class="col-2">
      {% include 'includes/sidenav/sidenav.html' %}
    </div>

    <!-- Grid cards to display audio songs -->
    {% if audios %}
    <div class="col-10">
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-4">

          {% for audio in audios %}
            <div class="col mb-2">
              <a href="{% url 'now_playing' audio.id %}" class="text-decoration-none">

                <div class="card h-100">

                  {% if audio.label %}
                    <img src="{{ MEDIA_URL }}{{ audio.label }}" class="card-img-top" alt="song_label">
                  {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" class="card-img-top" alt="song_label">
                  {% endif %}

                  <div class="card-body">
                    <small class="card-title">{{ audio.title }}</small>
   
                    <br/>
                    <small class="card-title text-dark">
                      {{ audio.artist }}
                    </small>
                    <ul style="list-style-type: none;" class="inline-block float-right">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" 
                          role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'edit_audio' audio.id %}">
                            Edit <i class="far fa-edit float-right"></i>
                          </a>
                          <div role="separator" class="dropdown-divider"></div>

                          <a class="dropdown-item" href="{% url 'delete_audio' audio.id %}">
                            Delete <i class="far fa-trash-alt float-right"></i>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </a>
            </div>
          {% endfor %}
          
        </div>
      </div>
    </div>

    {% else %}
        <div class="row">
          <div class="col-12 col-md-6 mx-auto">
            <div class="card bg-dark" style="margin-top: 50px;">
              <div class="card-body text-center text-light">
                <h5 class="card-title">oops!</h5>
                <p class="card-text">
                  No products available on this site to manage.
                </p>
                <a href="{% url 'add_audio' %}" class="btn btn-primary">
                  Upload Audio
                </a>
              </div>
            </div>
        </div> 
      {% endif %}

  </div>
</div>
 
{% endblock %}