{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">

      <!-- List group buttons on left side inserted thru includes directory -->
      <div class="col-2">
        {% include 'includes/sidenav/sidenav.html' %}
      </div>

      <!-- Grid cards to display audio songs -->
      <div class="col-8">

        {% for item in pagination %}
          <!-- Audio songs title & artist name -->
          <div class="#" style="padding-bottom: 20px;">
            <h6 class="text-light text-center">
              {{ item.title }} - {{ item.artist }}
            </h6>
          </div>
          
          <!-- Image label for audio songs -->
          <div class="#" style="padding-bottom: 20px;">
            <img src="{{ item.label.url }}" class="mx-auto d-block img-fluid" alt="song_label" />
          </div>

          <!-- Previous & next buttons of songs pages -->
          <div class="text-center" style="padding-bottom: 30px;">
            <a href="{% if pagination.has_previous %}?page={{ pagination.previous_page_number }}{% endif %}">
              <i class="fa fa-step-backward fa-2x"></i>
            </a>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <a href="{% if pagination.has_next %}?page={{ pagination.next_page_number }} {% endif %}">
              <i class="fa fa-step-forward fa-2x"></i>
            </a>
          </div>

          <!-- Audio songs fetched from db with play fucntionality in script.js file -->
          <div class="mx-auto">
            <audio class="player mx-auto" style="width: 70%;">
              <source src="{% if item.song %}{{item.song.url}} {% else %} {{item.link}} {% endif %}" type="audio/mp3" />
            </audio>
          </div>
        {% endfor %}

      </div>

      <!-- Right sidebar to display media list for quick access while playing audios -->
      <div class="col-2">
        
        <ul class="list-unstyled" style="width: 100%;">
          {% for item in songs %}
            <a href="{% url 'now_playing' %}">
              <li class="media">
                <img src="{{ MEDIA_URL }}{{ item.label }}" class="mr-3 image-size" alt="...">
                <div class="media-body">
                  <h6 class="mt-0 mb-1 text-light">List-based media object</h6>
                </div>
              </li>
            </a>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

{% endblock %}
