{% extends "base.html" %}
{% load static %}


{% block content %}

  <div class="container">
    
      {% for item in pagination %}
        <!-- Image label for audio songs -->
        <div class="#">
          <img src="{{ item.label.url }}" alt="song_label" />
        </div>

        <!-- Audio songs title & artist name -->
        <div class="#">
          <h1>{{ item.title }}</h1>
          <h3>{{ item.artist }}</h3>
        </div>

        <!-- Previous & next buttons of songs pages -->
        <div class="text-center">
          <a href="{% if pagination.has_previous %}?page={{ pagination.previous_page_number }}{% endif %}">
            <i class="fa fa-step-backward fa-2x"></i>
          </a> 
          
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

          <a href="{% if pagination.has_next %}?page={{ pagination.next_page_number }} {% endif %}">
            <i class="fa fa-step-forward fa-2x"></i>
          </a>
        </div>

        <!-- Audio songs fetched from db with play fucntionality in script.js file -->
        <div class="mx-auto">
          <audio class="player mx-auto" style="width: 70%;">
            <source src="{% if item.song %}{{item.song.url}} {% else %} {{item.link}} {% endif %}"
              type="audio/mp3" />
          </audio>
        </div>
      {% endfor %}

  </div>

{% endblock %}