{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">

      <!-- List group buttons on left side inserted thru includes directory -->
      <div class="col-2">
        {% include 'includes/sidenav/sidenav.html' %}
      </div>

      <!-- Grid cards to display audio songs -->
      <div class="col-8">
        <div class="card-deck">
          <div class="row row-cols-1 row-cols-md-4">

            {% for audio in songs %}
              <div class="col mb-2">
                <a href="{% url 'now_playing' audio.id %}" class="text-decoration-none">
                  <div class="card h-100">
                    <img src="{{ MEDIA_URL }}{{ audio.label }}" class="card-img-top" alt="song_label">
                    <div class="card-body text-center">
                      <small class="card-title">{{ audio.title }}</small> </br>
                      <small class="card-title text-dark">{{ audio.artist }}</small>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
            
          </div>
        </div>
      </div>

      <!-- Div space reserved for future use -->
      <div class="col-2">
      </div>

    </div>
  </div>
    
{% endblock %}
