{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <!-- List group buttons on left side -->
      <div class="col-2">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active disabled"></a>
          <a href="#" class="list-group-item list-group-item-action">Home</a>
          <a href="#" class="list-group-item list-group-item-action">My Music</a>
          <a href="#" class="list-group-item list-group-item-action">Now Playing</a>
          <a href="#" class="list-group-item list-group-item-action">Saved</a>
          <a href="#" class="list-group-item list-group-item-action">History</a>
          <a href="#" class="list-group-item list-group-item-action">Get Help</a>
          <a href="#" class="list-group-item list-group-item-action">Feedback</a>
          <a href="#" class="list-group-item list-group-item-action contact disabled" tabindex="-1" aria-disabled="true"></a>
          <a href="#" class="list-group-item list-group-item-action">Contact Us</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true"></a>
        </div>
      </div>

      <!-- Grid cards to display audio songs -->
      <div class="col-10">
        {% for item in songs %}
        <div class="row row-cols-3 row-cols-md-4">
          <div class="col mb-4">
            <div class="card h-100">
              <img src="{{ MEDIA_URL }}{{ item.label }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <h6 class="card-title">{{ item.artist }}</h6>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock %}

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>