{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">

      <!-- List group buttons on left side inserted thru includes directory -->
      <div class="col-2">
        {% include 'includes/sidenav/sidenav.html' %}
      </div>

      <!-- Payment success card -->
      <div class="col-8">
        <div class="row">
          <div class="col-12 col-md-6 mx-auto">
            <div class="card bg-dark" style="margin-top: 50px;">
              <div class="card-body text-center text-light">
                <h5 class="card-title">
                  <i class="far fa-check-circle"></i>
                  Payment Confirmation
                </h5>
                <p class="card-text">
                  Your payment has been received successfully. Click
                  the link below to download your favourite audio. Enjoy!!
                </p>

                <a href="{% url 'download_access' %}" class="btn btn-primary">
                  Get Audio
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Div space reserved for future use -->
      <div class="col-2"></div>
    </div>
  </div>

{% endblock %}