/* Set site body background color */
body {
    background: black;
}

/* Left side navigation panel */
.list-group-item {
    width: 100%;
}

.feedback {
    padding-top: 530px;
}

/* Home page styling */
/* Grid cards display audio songs */
