<!-- Sidenav on left side of all templates inserted using include syntax -->
<div class="list-group">
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-dark">
      <i class="fas fa-home"></i> Home
    </a>
    <a href="" class="list-group-item list-group-item-action list-group-item-dark">
      <i class="far fa-play-circle"></i> Now Playing
    </a>
  
    {% if request.user.is_authenticated %}
      <a href="{% url 'my_audio' %}" class="list-group-item list-group-item-action list-group-item-dark">
        <i class="fas fa-headphones-alt"></i> Your Music
      </a>
      <a href="{% url 'view_saved_audio' %}" class="list-group-item list-group-item-action list-group-item-dark">
        <i class="far fa-save"></i> Saved
      </a>
    {% endif %}
      
    <a href="{% url 'history' %}" class="list-group-item list-group-item-action list-group-item-dark">
      <i class="fas fa-history"></i> History
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
      <i class="far fa-question-circle"></i> FAQ
    </a>
    <a class="list-group-item list-group-item-dark feedback" tabindex="-1"></a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">
      <i class="far fa-comment-dots"></i> Feedback
    </a>
    <a href="#" class="list-group-item list-group-item-dark" tabindex="-1"></a>
  </div>